<!DOCTYPE html>
<html>
<head>
  <!-- Add Bootstrap CSS link here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  
  <style>
    body {
      background-color: #f8f9fa;
    }
    
    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .login-form {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="container center-container">
    <div class="login-form">
      <h2>Login</h2>
      <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>

  <!-- Add Bootstrap JS link here (if needed) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
